main:
  project_name: Loan_Default_Prediction
  experiment_name: trial
  steps: loader,exploration,preprocessing,model_building

data_load:
  file_path: /workspaces/DevOps_final_project/data/raw/bankloan.csv
  artifact_name: raw_bankloan_data
  sheet_name: bankloan
  artifact_type: raw_data
  artifact_description: ""

explore_data:
  report_title: "Exploratory Data Analysis Report"
  output_file: /workspaces/DevOps_final_project/reports/output_profile_report.html 
  expected_columns: ['age', 'ed', 'employ', 'address', 'income', 'debtinc', 'creddebt', 'othdebt', 'default']
  columns: ['age', 'ed', 'employ', 'address', 'income', 'debtinc', 'creddebt', 'othdebt', 'default']
  output_artifact_name: exploration_report
  output_artifact_type: report
  output_artifact_description: "Exploratory Data Analysis Report"


preprocess_data:
  # input_artifact: raw_bankloan_data:latest
  drop_columns: []
  factorize_columns: ['ed']
  standardize_columns: ['income debtinc creddebt othdebt']
  output_artifact_name: processed_bankloan_data
  output_artifact_type: processed_data
  output_artifact_description: "Processed Bankloan Data"

train_model:
  # input_artifact: processed_bankloan_data:latest
  target_column: default
  test_size: 0.2
  random_state: 42
  class_weight: balanced
  output_artifact_name: trained_model
  output_artifact_type: model
  output_artifact_description: "Trained Logistic Regression Model"

logging:
  format: "%(asctime)s [%(levelname)s] %(message)s"
  level: INFO


#   output_file: output_profile_report.html



# profile_report:
#   title: Profiling Report

# expected_columns:
#   - age
#   - ed
#   - employ
#   - address
#   - income
#   - debtinc
#   - creddebt
#   - othdebt
#   - default

# factorize_columns:
#   - ed

# standardize_columns:
#   - income
#   - debtinc
#   - creddebt
#   - othdebt
