main:
  project_name: Loan_Default_Prediction
  experiment_name: trial
  steps: loader,exploration,preprocessing,data_split,model_building

data_load:
  file_path: /workspaces/DevOps_final_project/data/raw/bankloan.csv
  artifact_name: raw_bankloan_data
  sheet_name: bankloan
  artifact_type: raw_data
  artifact_description: ""

explore_data:
  report_title: "Exploratory Data Analysis Report"
  output_file: /workspaces/DevOps_final_project/reports/output_profile_report.html 
  expected_columns : ['age ed employ address income debtinc creddebt othdebt default']
  columns: ['age ed employ address income debtinc creddebt othdebt default']
  output_artifact_name: exploration_report
  output_artifact_type: report
  output_artifact_description: "Exploratory Data Analysis Report"


preprocess_data:
  # input_artifact: raw_bankloan_data:latest
  drop_columns: []
  # factorize_columns: ['ed']
  # standardize_columns: ['income debtinc creddebt othdebt']
  output_artifact_name: processed_bankloan_data
  output_artifact_type: processed_data
  output_artifact_description: "Processed Bankloan Data"

split_data:
  # input_artifact: processed_bankloan_data:latest
  target_column: default
  test_size: 0.2
  random_state: 42

train_model:
    X_train_artifact: X_train
    y_train_artifact: y_train
    val_size: 0.2
    numerical_cols: ['age', 'employ', 'address', 'income', 'debtinc', 'creddebt', 'othdebt']
    factorize_cols: ['ed']
    hyperparameters: 
        C: 0.1
        solver: lbfgs
        class_weight: balanced
    model_artifact: logistic_regression
    random_seed: 44


logging:
  format: "%(asctime)s [%(levelname)s] %(message)s"
  level: INFO


#   output_file: output_profile_report.html



# profile_report:
#   title: Profiling Report

# expected_columns:
#   - age
#   - ed
#   - employ
#   - address
#   - income
#   - debtinc
#   - creddebt
#   - othdebt
#   - default

# factorize_columns:
#   - ed

# standardize_columns:
#   - income
#   - debtinc
#   - creddebt
#   - othdebt
